name: AAAA

on:
  issue_comment:
    types: [created]

jobs:
  one:
    runs-on: ubuntu-16.04
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"
      - name: test1
        env:
          T_1: ${{ toJson(github) }}
        run: echo "$T_1"
      - name: test2
        env:
          T_2: ${{ toJson(job) }}
        run: echo "$T_2"
      - name: test3
        env:
          T_3: ${{ toJson(steps) }}
        run: echo "$T_3"
      - name: test4
        env:
          T_4: ${{ toJson(env) }}
        run: echo "$T_4"
      - name: test5
        env:
          T_5: ${{ toJson(runner) }}
        run: echo "$T_5"
      - name: test6
        env:
          T_6: ${{ toJson(needs) }}
        run: echo "$T_6"




